interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jikan.moe/v4/characters/425
  response:
    body:
      string: '{"data":{"mal_id":425,"url":"https:\/\/myanimelist.net\/character\/425\/Ginko","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/14\/303453.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/14\/303453.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/14\/303453t.webp"}},"name":"Ginko","name_kanji":"\u30ae\u30f3\u30b3","nicknames":["Mushishi","Yoki"],"favorites":15331,"about":"Ginko
        employs himself as a Mushi master (mushishi), traveling from place to place
        to research Mushi and aid people suffering from problems caused by them.\n\nGinko
        is a rare person who attracts mushi. This inspires his peripatetic lifestyle;
        staying in one place too long will gather a potentially dangerous amount of
        mushi. He also smokes constantly in order to keep mushi away.\n\nIn terms
        of personality, Ginko is rather laid back, but can be very serious when it
        comes to protecting people from mushi. He also often stresses that the mushi
        are not evil, but they merely exist as a part of the nature and try to survive
        like every other living being."}}'
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 18 Dec 2022 22:55:03 GMT
      X-Request-Fingerprint:
      - request:characters:b7af2018e57ef77f986b7fec23b73fc61d247acb
    status:
      code: 200
      message: OK
version: 1
