interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jikan.moe/v4/anime?q=naruto&genres_exclude=1,2&limit=10
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false,"current_page":1,"items":{"count":2,"total":2,"per_page":10}},"data":[{"mal_id":19511,"url":"https:\/\/myanimelist.net\/anime\/19511\/Naruto__Shippuuden_-_Sunny_Side_Battle","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1047\/91638l.webp"}},"trailer":{"youtube_id":null,"url":null,"embed_url":null,"images":{"image_url":null,"small_image_url":null,"medium_image_url":null,"large_image_url":null,"maximum_image_url":null}},"approved":true,"titles":[{"type":"Default","title":"Naruto:
        Shippuuden - Sunny Side Battle"},{"type":"Synonym","title":"Naruto: Shippuuden
        - Jump Festa 2013 Special"},{"type":"Synonym","title":"Naruto: Shippuuden
        - Jump Super Anime Tour 2013 Special"},{"type":"Japanese","title":"\u30ca\u30eb\u30c8-NARUTO-\u75be\u98a8\u4f1d
        \u30b5\u30cb\u30fc\u30fb\u30b5\u30a4\u30c9\u30fb\u30d0\u30c8\u30eb"}],"title":"Naruto:
        Shippuuden - Sunny Side Battle","title_english":null,"title_japanese":"\u30ca\u30eb\u30c8-NARUTO-\u75be\u98a8\u4f1d
        \u30b5\u30cb\u30fc\u30fb\u30b5\u30a4\u30c9\u30fb\u30d0\u30c8\u30eb","title_synonyms":["Naruto:
        Shippuuden - Jump Festa 2013 Special","Naruto: Shippuuden - Jump Super Anime
        Tour 2013 Special"],"type":"Special","source":"Original","episodes":1,"status":"Finished
        Airing","airing":false,"aired":{"from":"2013-10-06T00:00:00+00:00","to":null,"prop":{"from":{"day":6,"month":10,"year":2013},"to":{"day":null,"month":null,"year":null}},"string":"Oct
        6, 2013"},"duration":"11 min","rating":"PG-13 - Teens 13 or older","score":7.55,"scored_by":35936,"rank":1550,"popularity":2384,"members":65650,"favorites":167,"synopsis":"Back
        at their childhood home, siblings Itachi and Sasuke Uchiha experience an unusual
        morning together when Itachi becomes obsessed with cooking the perfect fried
        egg for Sasuke. Despite being completely focused on the task, he continuously
        fails to achieve the desired result. As Sasuke marvels at his brother''s seemingly
        unnecessary behavior, he comes to realize that there is more than meets the
        eye to Itachi''s efforts.\n\n[Written by MAL Rewrite]","background":"Naruto:
        Shippuuden - Sunny Side Battle is a special short anime that aired during
        Japan''s 2013 Jump Super Anime Tour between October 6 and November 24. The
        feature was also included as a bonus in the Naruto Shippuuden: Ultimate Ninja
        Storm Revolution game, which was released in September 2014 in Japan, Europe,
        and North America.","season":null,"year":null,"broadcast":{"day":null,"time":null,"timezone":null,"string":null},"producers":[],"licensors":[],"studios":[{"mal_id":1,"type":"anime","name":"Pierrot","url":"https:\/\/myanimelist.net\/anime\/producer\/1\/Pierrot"}],"genres":[{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":47,"type":"anime","name":"Gourmet","url":"https:\/\/myanimelist.net\/anime\/genre\/47\/Gourmet"}],"explicit_genres":[],"themes":[],"demographics":[{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}]},{"mal_id":36564,"url":"https:\/\/myanimelist.net\/anime\/36564\/Kamiusagi_Rope_x_Boruto__Naruto_Next_Generations","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/88377.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/88377t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/88377l.jpg"},"webp":{"image_url":"http[...]
