interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.jikan.moe/v4/seasons/upcoming
  response:
    body:
      string: '{"pagination":{"last_visible_page":26,"has_next_page":true,"current_page":1,"items":{"count":25,"total":628,"per_page":25}},"data":[{"mal_id":40357,"url":"https:\/\/myanimelist.net\/anime\/40357\/Tate_no_Yuusha_no_Nariagari_Season_3","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1804\/126632l.webp"}},"trailer":{"youtube_id":null,"url":null,"embed_url":null,"images":{"image_url":null,"small_image_url":null,"medium_image_url":null,"large_image_url":null,"maximum_image_url":null}},"approved":true,"titles":[{"type":"Default","title":"Tate
        no Yuusha no Nariagari Season 3"},{"type":"Synonym","title":"Tate no Yuusha
        no Nariagari 3rd Season"},{"type":"Synonym","title":"The Rising of the Shield
        Hero 3rd Season"},{"type":"Japanese","title":"\u76fe\u306e\u52c7\u8005\u306e\u6210\u308a\u4e0a\u304c\u308a"},{"type":"English","title":"The
        Rising of the Shield Hero Season 3"}],"title":"Tate no Yuusha no Nariagari
        Season 3","title_english":"The Rising of the Shield Hero Season 3","title_japanese":"\u76fe\u306e\u52c7\u8005\u306e\u6210\u308a\u4e0a\u304c\u308a","title_synonyms":["Tate
        no Yuusha no Nariagari 3rd Season","The Rising of the Shield Hero 3rd Season"],"type":"TV","source":"Light
        novel","episodes":null,"status":"Not yet aired","airing":false,"aired":{"from":null,"to":null,"prop":{"from":{"day":null,"month":null,"year":null},"to":{"day":null,"month":null,"year":null}},"string":"Not
        available"},"duration":"Unknown","rating":"PG-13 - Teens 13 or older","score":null,"scored_by":null,"rank":null,"popularity":811,"members":258096,"favorites":3475,"synopsis":"Third
        season of Tate no Yuusha no Nariagari.","background":null,"season":null,"year":null,"broadcast":{"day":null,"time":null,"timezone":null,"string":"Unknown"},"producers":[{"mal_id":1696,"type":"anime","name":"Kadokawa","url":"https:\/\/myanimelist.net\/anime\/producer\/1696\/Kadokawa"}],"licensors":[],"studios":[{"mal_id":290,"type":"anime","name":"Kinema
        Citrus","url":"https:\/\/myanimelist.net\/anime\/producer\/290\/Kinema_Citrus"}],"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":2,"type":"anime","name":"Adventure","url":"https:\/\/myanimelist.net\/anime\/genre\/2\/Adventure"},{"mal_id":8,"type":"anime","name":"Drama","url":"https:\/\/myanimelist.net\/anime\/genre\/8\/Drama"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"}],"explicit_genres":[],"themes":[{"mal_id":62,"type":"anime","name":"Isekai","url":"https:\/\/myanimelist.net\/anime\/genre\/62\/Isekai"}],"demographics":[]},{"mal_id":51535,"url":"https:\/\/myanimelist.net\/anime\/51535\/Shingeki_no_Kyojin__The_Final_Season_-_Kanketsu-hen","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1361\/130998.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1361\/130998t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1361\/130998l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1361\/130998.webp","small_image_url":"https:\/\/c[...]
